{% extends 'admin/base.html.twig' %}

{% block title %}Area{% endblock %}

{% block body %}
    <h1>Area</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ area.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ area.libelle }}</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>{{ area.coordinates }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_area_index') }}">back to list</a>

    <a href="{{ path('app_admin_area_edit', {'id': area.id}) }}">edit</a>

    {{ include('admin/area/_delete_form.html.twig') }}
{% endblock %}
