{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.menu.issueCategoryList'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.menu.issueCategoryList'|trans }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.libelle }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_admin_category_new') }}">{{ 'admin.category.add'|trans }}</a>

{% endblock %}
