{% extends 'admin/base.html.twig' %}

{% block title %}Issue index{% endblock %}

{% block body %}
    <h1>Issue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>City</th>
                <th>Address</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.state }}</td>
                <td>{{ issue.city }}</td>
                <td>{{ issue.address }}</td>
                <td>
                    {% if issue.creator %}
                        {{ issue.creator.firstname }} {{ issue.creator.lastname }} (<a href="{{ path('app_admin_user_show', {'id': issue.creator.id}) }}">{{ 'admin.general.consult'|trans }}</a>)
                    {% else %}
                        {{ issue.firstname }} {{ issue.lastname }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_admin_issue_show', {'id': issue.id }) }}">View</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
