{% extends 'admin/base.html.twig' %}

{% block title %}Report index{% endblock %}

{% block body %}
    <h1>Report index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Localisation</th>
                <th>City</th>
                <th>Address</th>
                <th>Description</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.type }}</td>
                <td>{{ issue.location }}</td>
                <td>{{ issue.city }}</td>
                <td>{{ issue.address }}</td>
                <td>{{ issue.description }}</td>
                <td>{{ issue.firstname }}</td>
                <td>{{ issue.lastname }}</td>
                <td>{{ issue.email }}</td>
                <td>{{ issue.phone }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
