{% extends 'admin/base.html.twig' %}

{% block title %}Issue{% endblock %}

{% block body %}
    <h1>Issue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ issue.id }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ issue.state }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ issue.location }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ issue.city }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ issue.address }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ issue.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ issue.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ issue.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ issue.phone }}</td>
            </tr>
        </tbody>
    </table>

    {% if workflow_can(issue, 'ask_information') %}
        <a class="btn bg-danger" href="{{ path('app_admin_issue_reject', {'id': issue.id}) }}">{{ 'admin.global.reject'|trans }}</a>
    {% endif %}
    {% if workflow_can(issue, 'to_check_metropole') %}
        <a class="btn bg-success" href="{{ path('app_admin_issue_accept', {'id': issue.id}) }}">{{ 'admin.global.accept'|trans }}</a>
    {% endif %}
    <a href="{{ path('app_admin_issue_index') }}">back to list</a>

{#    <a href="{{ path('app_admin_issue_edit', {'id': issue.id}) }}">edit</a>#}

{% endblock %}
