{% extends 'admin/base.html.twig' %}

{% block title %}Organisation{% endblock %}

{% block body %}
    <h1>Organisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organisation.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ organisation.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_organisation_index') }}">back to list</a>

    <a href="{{ path('app_admin_organisation_edit', {'id': organisation.id}) }}">edit</a>

    {{ include('admin/organisation/_delete_form.html.twig') }}
{% endblock %}
